#preview {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 2px;
    background: #fff;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#preview img {
    width: 100%;
    display: block;
}